@font-face {
    font-family: 'LanaPixel';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/LanaPixel.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* 기본 설정 */
body {
  font-family: 'LanaPixel';
  background-image: url(img/backimg.jpg);
  background-size: cover;
  color: #3e3e3e;
  max-width: 700px;
  margin: 30px auto;
  padding: 15px;
}

/* 헤더 */
header {
  margin-bottom: 10px;
  text-align: center;
}

header h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #6d53b1;
}

/* 메뉴 */
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border: 2px solid #000080;
  border-radius: 4px;
  margin: 10px 0;
  background-color: #c0c0c0; /* 회색 배경 */
  height: 30px;
  box-shadow: inset 1px 1px #fff, inset -1px -1px #808080;
}

.menubutten, .menubutten2 {
  padding: 5px 0;
  width: 80px;
  height: 20px;
  text-align: center;
  border-right: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubutten2 {
  border-right: none;
}

.menubutten a, .menubutten2 a {
  text-decoration: none;
  color: #000080; /* 90년대 파랑 */
  font-weight: bold;
  font-size: 13px;
}

/* 모바일 대응 */
@media (max-width: 600px) {
  .menu {
    flex-direction: column;
    align-items: center;
  }
}

.header-image {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(200, 180, 255, 0.3);
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/anime/ani-12/ani1135.ani), url(https://cur.cursors-4u.net/anime/ani-12/ani1135.png), auto !important;} /* End https://www.cursors-4u.com */

/* 슬라이드 영역 */
.slideshow-container {
  width: 100%;
  max-width: 800px;
  height: 200px;
  margin: 0 auto 20px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(150, 120, 255, 0.3);
}

.slide {
  width: 100%;
  height: 100%;
  display: none;
  object-fit: cover;
  border-radius: 15px;
}

/* 글 영역 */
.text-section {
  background-color: #fff;
  max-width: 800px;
  margin: 30px auto;
  text-align: center;
  color: #444;
  height: 300px;
  padding: 5px;
  border-radius: 15px;
}

.text-section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #865ce5;
}

/* 배너 영역 */
.banner-section {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  height: 400px;
  overflow: scroll;
  border-radius: 15px;
  background-color: #fff;
}

.banner-img {
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(200, 180, 255, 0.4);
  transition: transform 0.3s ease;
}

.banner-img:hover {
  transform: scale(1.02);
}

.banner-section ::-webkit-scrollbar{
  width: 5px; 
  height: 390px;

}
